<header>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="/">Football<span>W<i class="fa-solid fa-futbol"></i>rld</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul th:unless="${@currentUser.isLoggedIn()}" class="navbar-nav ms-auto fs-4">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TRANSFER MARKET</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TEAMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">SIGN IN</a>
                </li>
            </ul>

            <ul th:if="${@currentUser.isLoggedIn()}" class="navbar-nav ms-auto fs-4">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CREATE PLAYERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MY PLAYERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TRANSFER MARKET</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TEAMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">PROFILE</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</header>