<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FootballWorld</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<section class="site-header">
    <h1>FootballWorld</h1>
    <h3>Some text about FootballWorld.</h3>
    <button>LEARN MORE</button>

</section>

<footer>
    <ul>
        <li>Contacts</li>
        <li>About us</li>
    </ul>

    <p>CopyRight 2022</p>

</footer>

</body>
</html>