<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head">Head</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<section class="site-header">
    <h1 th:if="${@currentUser.isLoggedIn()}"><span th:text="${@currentUser.getUsername()}"></span>, welcome to FootballWorld!</h1>

    <h1>FootballWorld</h1>
    <h3>Some text about FootballWorld.</h3>
    <button>LEARN MORE</button>

</section>

<footer th:include="fragments/footer">Footer</footer>

</body>
</html>