<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head">Head</head>

<body>

    <div th:replace="fragments/navbar">Navbar</div>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-10">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-success text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mt-md-4">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your email and password!</p>

                                <form th:action="@{/users/login}"
                                      th:method="post">

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label text-start" for="typeEmailX">Email</label>
                                        <input name="username"
                                               type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email"/>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="typePasswordX">Password</label>
                                        <input name="password"
                                               type="password" id="typePasswordX" class="form-control form-control-lg" min="5" placeholder="Password"/>
                                    </div>

                                    <p th:if="${badCredentials}" class="errors alert alert-danger">
                                        Invalid email or password.
                                    </p>

                                    <button class="btn btn-outline-light btn-lg px-5 mb-5" type="submit">Login</button>


                            </form>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="/users/register" class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/footer">Footer</footer>

</body>
</html>