<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head">Head</head>

<body>

    <div th:replace="fragments/navbar">Navbar</div>

    <div class="container bg-dark">
        <h2 class="text-center text-white">CREATE PLAYER</h2>
        <form th:action="@{/players/create}"
              th:method="post"
              th:object="${playerCreateDTO}"
              enctype="multipart/form-data"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <h4 class="text-white">Personal information:</h4>
            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="firstName" class="text-white font-weight-bold">First Name</label>
                    <input th:field="*{firstName}"
                           th:errorclass="is-invalid"
                            id="firstName" name="firstName" type="text" class="form-control"
                           placeholder="First Name"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        First name is required and should be between 3 and 25 symbols.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold">Last Name</label>
                    <input th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           id="lastName" type="text" class="form-control"
                           placeholder="Last Name"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Last name is required and should be between 5 and 25 symbols.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold">Birthdate</label>
                    <input  th:field="*{birthdate}"
                            th:errorclass="is-invalid"
                            id="birthdate" type="date" class="form-control"
                           placeholder="Birthdate"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Birthdate is required and should be in the past.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold">Team</label>
                    <select th:field="*{team}" th:errorclass="is-invalid" class="form-select" aria-label="Default select example">
                        <option value="" selected>Team</option>
                        <option th:each="t : ${teams}"
                                th:text="${t.name}"
                                th:value="${t.name}"
                                th:selected="${t.name} == *{team}"></option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Team is required.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="height" class="text-white font-weight-bold">Height: </label>
                    <span class="text-white ps-2 fw-bold fs-5 rangeValue" th:text="*{height} == null ? '180' : *{height}"></span>
                    <span class="text-white">cm</span>
                    <div class="range">
                        <input th:field="*{height}" th:errorclass="is-invalid" type="range" class="form-range" id="customRange1" min="150" max="210" value="180"/>
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Height should be between 150 and 210.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">

                    <label for="preferedFoot" class="text-white font-weight-bold">Preferred Foot</label>

                    <select th:field="*{preferredFoot}" th:errorclass="is-invalid" class="form-select" aria-label="Default select example">
                        <option value="" selected>Preferred Foot</option>
                        <option th:each="pf : ${T(bg.softuni.FootballWorld.model.entity.enums.PreferredFootEnum).values()}"
                                th:text="${pf}"
                                th:value="${pf}"
                                th:selected="${pf} == *{preferredFoot}"> Position
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Preferred Foot is required.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="position" class="text-white font-weight-bold">Position</label>
                    <select th:field="*{position}" th:errorclass="is-invalid" class="form-select" aria-label="Default select example">
                        <option value="" selected>Position</option>
                        <option th:each="p : ${T(bg.softuni.FootballWorld.model.entity.enums.PositionEnum).values()}"
                                th:text="${p}"
                                th:value="${p}"
                                th:selected="${p} == *{position}"> Position
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Position is required.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="price" class="text-white font-weight-bold">Transfer Price</label>
                    <input id="price" th:field="*{price}" th:errorclass="is-invalid" name="price" type="number" class="form-control"
                           placeholder="Transfer Price"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Transfer price is required and should be positive.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="image">Image</label>
                <input th:field="*{image}" th:errorclass="is-invalid" id="image" type="file" class="form-control"
                       placeholder="Image">
                <p class="invalid-feedback errors alert alert-danger">
                    Image is required.
                </p>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}" th:errorclass="is-invalid" id="description" type="textarea" class="form-control" rows="3"
                          placeholder="Description"></textarea>
                <p class="invalid-feedback errors alert alert-danger">
                    Description is required and should be at least 5 symbols.
                </p>
            </div>

            <h4 class="text-white">Skills:</h4>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="pace" class="text-white font-weight-bold">Pace</label>
                    <span class="text-white rangeValue" th:text="*{pace} == null ? '50' : *{pace}"></span>
                    <div class="range">
                        <input th:field="*{pace}" th:errorclass="is-invalid" type="range" class="form-range" id="customRange1" />
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Pace should be between 0 and 100 symbols.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="shoot" class="text-white font-weight-bold">Shoot</label>
                    <span class="text-white rangeValue" th:text="*{shoot} == null ? '50' : *{shoot}">50</span>
                    <div class="range">
                        <input th:field="*{shoot}" th:errorclass="is-invalid" type="range" class="form-range" id="customRange1" />
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Shoot should be between 0 and 100 symbols.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="pass" class="text-white font-weight-bold">Pass</label>
                    <span class="text-white rangeValue" th:text="*{pass} == null ? '50' : *{pass}">50</span>
                    <div class="range">
                        <input th:field="*{pass}" th:errorclass="is-invalid" type="range" class="form-range" id="customRange1" />
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Pass should be between 0 and 100 symbols.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="year" class="text-white font-weight-bold">Defence</label>
                    <span class="text-white rangeValue" th:text="*{defence} == null ? '50' : *{defence}">50</span>
                    <div class="range">
                        <input th:field="*{defence}" th:errorclass="is-invalid" type="range" class="form-range" id="customRange1" min="0" max="100" value="50"/>
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Defence should be between 0 and 100 symbols.
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="CREATE"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="fragments/footer">Footer</footer>

    <script src="/js/player-add.js"></script>

</body>
</html>