<!doctype html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FootballWorld</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form
           class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input
                        id="firstName"
                        type="text"
                        class="form-control"
                        placeholder="First name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 2 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       type="text"
                       class="form-control"
                       placeholder="Last name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required and should be between 2 and 20 symbols.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold">Email</label>
                <input id="email"
                       type="text"
                       class="form-control"
                       placeholder="Email"/>
                <div class="invalid-feedback errors alert alert-danger">

                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       type="password"
                       class="form-control"
                       placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password is required and should be at least 5 symbols.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="text-white font-weight-bold">Repeat Password</label>
            <input
                    id="confirmPassword"
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
            />
            <p class="invalid-feedback errors alert alert-danger">
                Passwords should match.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>