<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head">Head</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container vh-100 gradient-custom py-5">
    <div class="card bg-success">
        <div class="mb-md-5 mt-md-4">
            <h2 class="text-center text-white mb-5">REGISTER USER</h2>
            <form
                    th:action="@{/users/register}"
                    th:method="post"
                    th:object="${userRegisterDTO}"
                    class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="form-group col-md-6 mb-4">
                        <label for="firstName" class="text-white font-weight-bold">First Name</label>
                        <input
                                id="firstName"
                                th:field="*{firstName}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control"
                                placeholder="First name"/>
                        <p class="invalid-feedback errors alert alert-danger">
                            First name is required and should be between 5 and 25 symbols.
                        </p>
                    </div>
                    <div class="form-group col-md-6 mb-4">
                        <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                        <input id="lastName"
                               th:field="*{lastName}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Last name"/>
                        <p class="invalid-feedback errors alert alert-danger">
                            Last name is required and should be between 5 and 25 symbols.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-4">
                        <label for="username" class="text-white font-weight-bold">Username</label>
                        <input id="username"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Username"/>
                        <div class="invalid-feedback errors alert alert-danger">
                            <div  th:each="err : ${#fields.errors('username')}"
                                  th:text="${err}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 mb-4">
                        <label for="email" class="text-white font-weight-bold">Email</label>
                        <input id="email"
                               th:field="*{email}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Email"/>
                        <div class="invalid-feedback errors alert alert-danger">
                            <div  th:each="err : ${#fields.errors('email')}"
                                  th:text="${err}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-5">
                        <label for="password" class="text-white font-weight-bold">Password</label>
                        <input id="password"
                               th:field="*{password}"
                               th:errorclass="is-invalid"
                               type="password"
                               class="form-control"
                               placeholder="Password"/>
                        <p class="invalid-feedback errors alert alert-danger">
                            Password is required and should be at least 5 symbols.
                        </p>
                    </div>

                    <div class="form-group col-md-6 mb-5">
                        <label for="confirmPassword" class="text-white font-weight-bold">Confirm Password</label>
                        <input
                                id="confirmPassword"
                                th:field="*{confirmPassword}"
                                th:errorclass="is-invalid"
                                type="password"
                                class="form-control"
                                placeholder="Confirm password"/>
                        <p class="invalid-feedback errors alert alert-danger">
                            Passwords should match.
                        </p>
                    </div>
                </div>

                <div class="row text-center mb-5">
                    <div class="col">
                        <div class="button-holder">
                            <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Register"/>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-center text-white">
                <p class="mb-0">Already have an account? <a href="/users/login" class="text-white-50 fw-bold">Sign In</a>
                </p>
            </div>

        </div>
    </div>
</div>

<footer th:include="fragments/footer">Footer</footer>

</body>
</html>