<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head">Head</head>

<body>

    <div th:replace="fragments/navbar">Navbar</div>


    <div class="container bg-dark p-3 rounded">
        <h2 class="text-center text-white">CREATE TEAM</h2>
        <form th:action="@{/teams/create}"
              th:method="post"
              th:object="${teamCreateDTO}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <h4 class="text-white">Team:</h4>
            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="text-white font-weight-bold">Team Name</label>
                    <input  th:field="*{name}"
                            th:errorclass="is-invalid"
                            id="name" type="text" min="3" max="25" class="form-control"
                            placeholder="Team Name" required/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Team name is required and should be between 3 and 25 symbols.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="established" class="text-white font-weight-bold">Established</label>
                    <input  th:field="*{established}"
                            th:errorclass="is-invalid"
                            id="established" type="date" class="form-control"
                            placeholder="Established" required/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Established is required and should be in the past or in the present.
                    </p>
                </div>
            </div>


            <div class="form-group">
                <label class="text-white font-weight-bold" for="badgeImageUrl">Badge Image URL</label>
                <input  th:field="*{badgeImageUrl}"
                        th:errorclass="is-invalid"
                        id="badgeImageUrl" type="url" class="form-control"
                        placeholder="Image URL">
                <p class="invalid-feedback errors alert alert-danger">
                    Badge Image Url is required.
                </p>
            </div>

            <h4 class="text-white mt-4">Stadium:</h4>
            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="stadiumName" class="text-white font-weight-bold">Name</label>
                    <input  th:field="*{stadiumName}"
                            th:errorclass="is-invalid"
                            id="stadiumName" type="text" class="form-control"
                            placeholder="Stadium Name" required/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Stadium name is required and should be between 3 and 25 symbols.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="stadiumEstablished" class="text-white font-weight-bold">Established</label>
                    <input  th:field="*{stadiumEstablished}"
                            th:errorclass="is-invalid"
                            id="stadiumEstablished" type="date" class="form-control"
                            placeholder="Established" required/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Established is required and should be in the past or in the present.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="capacity" class="text-white font-weight-bold">Capacity</label>
                    <input  th:field="*{capacity}"
                            th:errorclass="is-invalid"
                            id="capacity" type="number" class="form-control"
                            placeholder="Capacity" required/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Capacity is required and should be positive.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="address" class="text-white font-weight-bold">Address</label>
                    <input  th:field="*{address}"
                            th:errorclass="is-invalid"
                            id="address" type="text" class="form-control"
                            placeholder="Address"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Address is required and should be between 5 and 50 symbols.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="stadiumImageUrl">Image URL</label>
                <input  th:field="*{stadiumImageUrl}"
                        th:errorclass="is-invalid"
                        id="stadiumImageUrl" type="url" class="form-control"
                        placeholder="Image URL" required>
                <p class="invalid-feedback errors alert alert-danger">
                    Image Url is required.
                </p>
            </div>

            <div class="row">
                <div class="col col-md-4 my-3">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="CREATE"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="fragments/footer">Footer</footer>

</body>
</html>